@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
html{
  background-color: black;
  height: 3000px;
  width: 1420px;
  margin: auto;
  overflow:scroll;
}

.entire{

/*   left: 250px; */
  width: 1400px;
  height: 2000px;
 background-color: linen;

}

.button1{
  width:200px;
  height:100px;
  position: relative;
  margin-left:25px;
  margin-top:25px;
  background-color: ;
}

.bigBoy{
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
}
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


button {


  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
   font-size: 16px;
  font-family: 'Quicksand', sans-serif;
font-weight: bold;

}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.40s cubic-bezier(0.65, 0, 0.075, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: darkseagreen;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 5px;
  background: whitee;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid linen;
  border-right: 0.125rem solid linen;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-135deg);
}
button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0;
  color: black;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;


}
button:hover .circle {
  width: 80%;

}
button:hover .circle .icon.arrow {
  background: darkseagreen;

  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: linen;
  letter-spacing: 5px;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

/* button above */



.block{
  width:600px;
  height: 725px;
  postion: relative;
  margin:  -100px auto auto auto;
  background-color: lightsteelblue;
}

.words{
   font-family: 'Quicksand', sans-serif;
   font-size: 30px;
   padding-left: 35px;
   padding-top: 35px;
}

.fav{
  color: white;
  margin-left: 10px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}








/* glitch */
