body {
  background: white;
  font: sans-Serif;
  color: #696969;
  margin: 0 ;
  padding-top: 40;
  text-align: center;

}
p.clear{
  clear:none;
}

#banner{
  width:100%;
}


#signon{
float: center;
background-color: #c1cfd9;
}

#login{
float: center;
background-color: #c1cfd9;
}

h2 {
	font-family: sans-serif;
	font-size: 20px;
	color: #fff;
	margin: 0;
}

h4{
  font-family: sans-serif;
  font-size: 30px;
  color: #2e3641;
  margin: 0;
  text-align:left;
}
h5{
  font-family: sans-serif;
  font-size: 15px;
  color: #2e3641;
  margin: 0;
}
h6 {
  font-family: sans-serif;
  font-size: 15px;
  color: #2e3641;
  margin: 0;
  text-align:left;
}


#index{
background-image: url("purdue.gif");
background-repeat: no-repeat;
background-position: center bottom;

background-attachment: fixed;
background-size: 380px 280px;

}
#coursespage{
  background-image: url("classroom.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  background-attachment: fixed;
  background-size: 330px 330px;

}
#bookstore{
background-image: url("map.png");
background-repeat: no-repeat;
background-position: center bottom;

background-attachment: fixed;
background-size: 335px 335px;
}

#textbook{
  background-image: url("books.png");
background-repeat: no-repeat;
background-position: center bottom;

background-attachment: fixed;
background-size: 380px 380px;
}





#banner {
 width: 100%;
 background-color:pink;
 height:100%;
}

a {
  color: #fff;

}

#nav{
  width:100%;
  background-color:black;
  border-spacing:0px;
  border:0px;
  height:80px;
}


.searchform {
  background: #f4f4f4;
  background: rgba(244, 244, 244, .79);
  border: 1px solid #d3d3d3;
  left: 50%;
  padding: 2px 5px;
  position: absolute;
  margin: -22px 0 0 -170px;
  top: 50%;
  width: 339px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}

.searchform input, .searchform button {

}

.searchform input {
  background: #fefefe;
  border: none;
  font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin-right: 5px;
  padding: 10px;
  width: 216px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}

.searchform input:focus {
  outline: none;
  box-shadow: 0 0 4px #0d76be inset;
  -moz-box-shadow: 0 0 4px #0d76be inset;
  -webkit-box-shadow: 0 0 4px #0d76be inset;
}

.searchform input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform input:-moz-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform button {
  background: #CFB539;
  background: -moz-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -webkit-gradientlinear, left top, left bottom, color-stop(0%, rgba(52, 173, 236, 1)), color-stop(100%, rgba(38, 145, 220, 1)));
  background: -webkit-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -o-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -ms-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: linear-gradient(to bottom, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34adec', endColorstr='#2691dc', GradientType=0);
  border: none;
  color: #fff;
  cursor: pointer;
  font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  padding: 10px;
  width: 106px;
  box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

.searchform button:hover {
  opacity: .9;
}



#content {
  margin-right: 0 auto;
  background:
    width:
}

.searchform {
  background: #f4f4f4;
  background: rgba(244, 244, 244, .79);
  border: 1px solid #d3d3d3;
  left: 50%;
  padding: 2px 5px;
  position: absolute;
  margin: -22px 0 0 -170px;
  top: 50%;
  width: 339px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}

.searchform input, .searchform button {
  float: left
}

.searchform input {
  background: #fefefe;
  border: none;
  font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin-right: 5px;
  padding: 10px;
  width: 216px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
}

.searchform input:focus {
  outline: none;
  box-shadow: 0 0 4px #0d76be inset;
  -moz-box-shadow: 0 0 4px #0d76be inset;
  -webkit-box-shadow: 0 0 4px #0d76be inset;
}

.searchform input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform input:-moz-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform button {
  background: #CFB539;
  background: -moz-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(52, 173, 236, 1)), color-stop(100%, rgba(38, 145, 220, 1)));
  background: -webkit-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -o-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -ms-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: linear-gradient(to bottom, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34adec', endColorstr='#2691dc', GradientType=0);
  border: none;
  color: #fff;
  cursor: pointer;
  font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  padding: 10px;
  width: 106px;
  box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

.searchform button:hover {
  opacity: .9;
}

#buttonbox {
  text-align: center;
}

#button {
  display: inline-block;
  letter-spacing: 2px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  background-color: #000;
}
#button1 {
  display: inline-block;
  letter-spacing: 2px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  background-color: #000;
}
#button2 {
  display: inline-block;
  letter-spacing: 2px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  background-color: #000;
}
.portfolio{
  position: fixed; bottom: 50px; right: 20px;
  width: 180px; height: 180px;
  background-color: black; color: linen;
  border-radius: 90px;
  z-index: 3;
}
.portfolio h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px; color: linen;
  text-transform: uppercase;
}
.r{
  position: absolute; left: 45px; top: 35px;
}
.t{
  position: absolute; left: 70px; top: 65px;
}
.p{
  position: absolute; left: 30px; top: 95px;
}
